@charset "UTF-8";

.container {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: var(--theme-palette-colors-base-bg);
}

.main-wrapper {
    max-width: 400px;
    width: 100%;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    align-items: flex-end;
    background-color: var(--theme-palette-colors-common-white);
}

.main {
    border-radius: 5px;
    width: 100%;
    max-height: calc(100vh - 100px);
    overflow: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: var(--theme-palette-colors-contents-bg);
    border: 1px solid var(--theme-palette-colors-bluegray-200);
}

.header-wrapper {
    padding: 0px 20px;
    height: 64px;
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.header {
    min-width: 64px;
    display: flex;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    align-items: center;
    font-weight: 400;
    font-size: 17px;
}

.pre-btn {
    border: none;
    background: none;
    cursor: pointer;
    padding: 8px;
    margin: -8px;
    fill: var(--theme-palette-colors-black-100);
}

.pre-btn-span {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: inherit;
    -webkit-box-align: inherit;
    -ms-flex-align: inherit;
    align-items: inherit;
    -webkit-box-pack: inherit;
    -ms-flex-pack: inherit;
    -webkit-justify-content: inherit;
    justify-content: inherit;
}

.pre-btn-img {
    user-select: none;
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentcolor;
    flex-shrink: 0;
    font-size: 20px;
}

.pre-btn svg {
    fill: inherit;
}

.header-text-wrapper {
    display: flex;
    flex: 1 1 0%;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}

.header-text {
    color: var(--theme-palette-colors-black-100);
    font-weight: var(--text-weight-headline-bold);
    text-align: center;
    letter-spacing: var(--text-spacing-headline);
    font-size: var(--text-size-headline);
    line-height: var(--text-height-headline);
    display: flex;
    flex: 1 1 0%;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}

.right-padding {
    display: flex;
    min-width: 64px;
    -webkit-box-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    align-items: center;
}

.main-body {
    overflow: auto;
    position: relative;
    padding: 20px;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.msg1 {
    color: var(--theme-palette-colors-black-100);
    font-weight: var(--text-weight-heading-bold);
    text-align: center;
    letter-spacing: var(--text-spacing-heading);
    font-size: var(--text-size-heading);
    line-height: var(--text-height-heading);
    margin-top: 10px;
}

.msg2 {
    color: var(--theme-palette-colors-gray-600);
    font-weight: var(--text-weight-bodyalt-normal);
    text-align: center;
    letter-spacing: var(--text-spacing-bodyalt);
    font-size: var(--text-size-bodyalt);
    line-height: var(--text-height-bodyalt);
    margin-top: 15px;
    margin-bottom: 30px;
}

.go-to-login {
    width: 100%;
    height: 50px;
    min-height: 50px;
    border-radius: 25px;
    font-size: 16px;
    margin-bottom: 10px;
    cursor: pointer;
    background-color: var(--theme-palette-colors-blue-400);
    border: none;
}

.go-to-login-content {
    color: var(--theme-palette-colors-black-100);
    font-weight: var(--text-weight-body-bold);
    text-align: left;
    letter-spacing: var(--text-spacing-body);
    font-size: var(--text-size-body);
    line-height: var(--text-height-body);
}

.go-to-login span {
    color: var(--theme-palette-colors-common-white);
}

