@charset "UTF-8";

body {
    margin: 0;
    font-size: 14px;
    color: #333;
    background-color: #f8f8f8;
    line-height: 1.42857143;
    font-family: Pretendard Variable,Pretendard JP Variable,-apple-system,system-ui,BlinkMacSystemFont,Roboto,Segoe UI,Helvetica,Arial,Apple SD Gothic Neo,Nanum Gothic,Malgun Gothic,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,sans-serif;
}

body {
    display: block;
    margin: 8px;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: inherit;
}

header {
    display: block;
}

.nav-bar {
    width: 100%;
    position: fixed;
    top: 0;
    background-color: #fff;
    -webkit-box-shadow: 0 1px 0 0 rgba(0, 0, 0, .1);
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, .1);
    z-index: 800;
}

button, div, h1, h2, h3, h4, h5, h6, input, p, select, span, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

.main-bar {
    position: relative;
    max-width: 1060px;
    height: 50px;
    margin: 0 auto;
}

.main-bar-nav {
    flex-direction: row;
    flex-wrap: wrap;
}

.nav-bar {
    width: 100%;
    position: fixed;
    top: 0;
    background-color: #fff;
    -webkit-box-shadow: 0 1px 0 0 rgba(0, 0, 0, .1);
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, .1);
    z-index: 800;
}

.main-bar-nav-top, .main-bar-hamberger img {
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
}

.main-bar-hamberger, .main-bar-nav-top {
    margin-top: -2px;
    margin-right: 15px;
}

.main-bar-nav, .main-bar-nav-top {
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-bar-nav-top-logo {
    display: -ms-flexbox;
    display: flex;
}

button {
    margin: 0;
    padding: 0;
    border: 0;
    background: none;
    cursor: pointer;
    font-family: inherit;
}


.main-bar-nav-top, .main-bar-hamberger img {
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
}

img {
    vertical-align: middle;
}

img {
    overflow-clip-margin: content-box;
    overflow: clip;
}

/* a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
} */

a, a:active, a:hover, a:visited {
    color: inherit;
}

.main-bar-nav-top-logo-a {
    display: block;
}

.main-bar-nav-top-logo-a {
    display: block;
}


.menu {
    height: inherit;
    text-align: center;
    margin: 0;
}

ol, ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu li {
    height: inherit;
    display: inline-block;
    position: relative;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.menu li a {
    position: relative;
    vertical-align: middle;
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
    padding: 15px;
    display: inline-block;
}

.menu li::after {
    height: 100%;
    content: "";
    display: inline-block;
    vertical-align: middle;
}

.aside.isLoggedIn{
    padding: 9px 0;
}

.aside {
    height: 100%;
    padding: 10px 0;
}

@media (min-width: 992px) and (max-width: 1199px){
    .aside >ul li .signUpBtn {
        margin-right: 0;
        padding: 0 3px;
    }
}

.aside >ul li .signUpBtn {
    margin-right: 6px;
    line-height: 1.4;
}

.aside>ul li>* {
    height: 100%;
    padding: 0 5px;
    font-size: 14px;
    color: #333;
    font-weight: 600;
    line-height: 1;
}

.aside>ul li .searchBtn {
    position: relative;
    margin-top: 5px;
}

svg:not(:root) {
    overflow-clip-margin: content-box;
    overflow: hidden;
}

.aside>ul .leftDivision {
    display: inline-flex;
}

.aside>ul li {
    position: relative;
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.aside>ul .leftDivision::before {
    display: block;
    content: "";
    width: 1px;
    height: 10px;
    background-color: #e1e2e3;
    margin: auto 10px;
}

.aside>ul li .dashboardBtn {
    font-size: 13px;
    color: #666;
    line-height: 30px;
    height: 30px;
    border: 1px solid #e1e2e3;
    border-radius: 15px;
    padding: 0 10px;
    margin-left: 15px;
    font-weight: 400;
}

.aside>ul li a {
    display: inline-block;
    vertical-align: bottom;
    line-height: 32px;
}

a {
    font-family: inherit;
    text-decoration: inherit;
    cursor: pointer;
}

.padding {
    padding: 40px 0;
}

.padding {
    height: 50px;
}
