@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
   margin: 0;
   padding: 0;
   border: 0;
   font-size: 100%;
   font: inherit;
   vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
   display: block;
}
body {
   line-height: 1;
}
ol, ul {
   list-style: none;
}
blockquote, q {
   quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
   content: '';
   content: none;
}
table {
   border-collapse: collapse;
   border-spacing: 0;
}
:root {
    --nav-height: 50px
}
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
html {
    font-size: 10px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%
}
body {
    margin: 0;
    font-size: 14px;
    color: #333;
    background-color: #fff;
    line-height: 1.42857143;
    font-family: Pretendard Variable,Pretendard JP Variable,
    -apple-system,system-ui,BlinkMacSystemFont,Roboto,Segoe UI,
    Helvetica,Arial,Apple SD Gothic Neo,Nanum Gothic,
    Malgun Gothic,Apple Color Emoji,Segoe UI Emoji,
    Segoe UI Symbol,sans-serif
}

a {
    cursor: pointer;
}

button {
    margin: 0;
    padding: 0;
    border: 0;
    background: none;
    cursor: pointer;
    font-family: inherit;
}


a, a:active, a:hover, a:visited {
    color: inherit;
}

a {
    font-family: inherit;
    text-decoration: inherit;
    cursor: pointer;
}

.Header_PostWrite {
    position: fixed;
    top: 50px;
    width: 100%;
    height: 60px;
    background-color: rgb(255, 255, 255);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(225, 226, 227);
    border-image: initial;
}
.Header_PostWrite__content{
    display: -ms-flexbox;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 100%;
    padding: 10px 0;
}

.Header_PostWrite__button {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    /* justify-content: space-evenly; */
    -ms-flex-align: center;
    /* align-items: center; */
    width: 135px;
    height: 40px;
    margin-left: auto;
}

.Button__interaction {
    /* overflow: hidden; */
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: inherit;
    opacity: 0;
    background-color: var(--button-color);
    -webkit-transition: opacity .2s ease;
    transition: opacity .2s ease;
    will-change: opacity;
}

.Header_PostWrite__button button {
    width: 100%;
    height: 100%;
    background-color: #f2f4f7;
    color: #ccc;
}

.Button_Button {
    border-radius: 1000px;
    border: none;
}

.Button_Button {
    --button-color: #171717;
    position: relative;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    vertical-align: middle;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    line-height: normal;
    border: none;
    background-color: none;
    cursor: pointer;
    white-space: nowrap;
}
/* 유효성 검사 - 안할듯 빼자*/
.Header_PostWrite__button.valid button {
    background-color: #36f;
    color: #fff;
}

.Header_PostWrite__button button {
    width: 100%;
    height: 100%;
    /* background-color: rgb(242, 244, 247);
    color: rgb(204, 204, 204); */
    background-color: #36f;
    color: #fff;


}

.Button__label {
    width: 100%;
    font-size: inherit;
    font-weight: inherit;
    display: inherit;
    align-items: inherit;
    justify-content: inherit;
    color: inherit;
}




/* 글 작성하는곳 */

@media (min-width: 1200px){
.Header_PostWrite__content {
    max-width: 1060px;
    margin: 0px auto;
}}



.PostWrite__content {
    position: relative;
    width: 100%;
    padding-top: 150px;
    height: inherit;
    margin-bottom: 50px;
}

.Paper_PostWritePaper {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: calc(100vh - 110px);
    padding: 39px 40px;
    border: 1px solid #e1e2e3;
    border-top: 0;
    background-color: #fff;
}

/* 지역 태그 */
.TagPanel_tagPanel {
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
}

.TagPanel_tagPanel  .TagPanel_tagMessage  {
    color: #666;
    font-weight: 700;
    font-size: 15px;
    margin-bottom: 10px;
}

.TagPanel_tagPanel .TagPanel_tagWrapper .TagPanel_tagPlaceholder {
    margin-left: 10px;
    width: 85px;
    height: 34px;
}
.TagPanel_tagWrapper{
    display: flex;
    flex-direction: row;
    align-items: flex-start
}
.HideWhenTagOk{
    visibility: visible;
}

/* 제목 */
.Paper_PostWritePaper__title {
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    padding-bottom: 21px;
    border-bottom: 2px solid #e1e2e3;
    font-size: 28px;
    font-weight: 700;
    line-height: 38px;
}

/* .Paper_PostWritePaper {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 110px);
    background-color: rgb(255, 255, 255);
    padding: 39px 40px;
    border-width: 0px 1px 1px;
    border-style: solid solid solid;
    border-color: rgb(225, 226, 227) rgb(225, 226, 227) rgb(225, 226, 227);
    border-image: initial;
    border-top: 0px;
} */

@media (min-width: 1200px){
    .Paper_PostWritePaper {
        max-width: 790px;
        margin: 0 auto;
    }}

@media (min-width: 1200px){
.Paper_PostWritePaper {
    max-width: 790px;
    margin: 0 auto;
}}
.AutoTextarea {
    position: relative;
}

.Paper_PostWritePaper__title>textarea {
    height: 38px;
}

.AutoTextarea__textarea {
    font-family: Pretendard Variable, Pretendard JP Variable, -apple-system, system-ui,
    BlinkMacSystemFont, Roboto, Segoe UI, Helvetica, Arial, Apple SD Gothic Neo, Nanum Gothic,
    Malgun Gothic, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, sans-serif;

    width: 100%;
    height: auto;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    color: rgb(51, 51, 51);
    resize: none;
    padding: 0px;
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
    outline: 0px;
    overflow: hidden;
}
.AutoTextarea__textarea {
    width: 100%;
    height: auto;
    padding: 0;
    border: 0;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    color: #333;
    outline: 0;
    resize: none;
    overflow: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.AutoTextarea__hidden {
    position: absolute;
    top: 0px;
    left: 0px;
    visibility: hidden;
    pointer-events: none;
}

.Paper_PostWritePaper__content {
    width: 100%;
    padding-top: 28px;
    font-size: 17px;
    font-weight: 400;
    line-height: 28px;
}

.AutoTextarea {
    position: relative;
}



/* 사진아이콘 */

.label-file {
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    pointer-events: all;
    cursor: pointer;
}

input[type=file].PostWrite_PostPhotoFile  {
    display: none;
}
.PostWrite_PostPhotoButton {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: -ms-flexbox;
    display: flex;
    width: 790px;
    height: 100%;
    margin: 0 auto;
    pointer-events: none;
}

.PhotoButton_PhotoButton {
    position: absolute;
    right: 38px;
    bottom: 60px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border: 1px solid #e1e2e3;
    border-radius: 50%;
    background-color: #fff;
    -webkit-filter: drop-shadow(0 2px 10px rgba(0,0,0,.1));
    filter: drop-shadow(0 2px 10px rgba(0,0,0,.1));
    pointer-events: all;
    color: #333;
}

.PhotoButton_PhotoButton>span {
    font-size: 10px;
    font-weight: 700;
    line-height: 12px;
    color: inherit;
}
.PhotoButton_PhotoButton>span>em {
    font-style: normal;
    color: #36f;
}



/* 모달창이 보이게 하기 */
.Modal_Modal__root {
    position: fixed;
    right: 0;
    bottom: 0;
    top: 0;
    left: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.Modal_Modal__root__blur {
    -webkit-backdrop-filter:  none;
    backdrop-filter: none;
 
}

.Modal_Modal__root__backdrop {
    position: fixed;
    right: 0;
    bottom: 0;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,.5);
    visibility: hidden;
}
/* 모달창 내용 */
/* 모달창 사이즈 */
.SelectTagsModal_SelectTagsModal_ {
    width: 460px;
    padding: 0;
    max-height: 400px;
    display: none;
}

/* 모달 몸통 색갈 */
.Modal_Modal__root__body {
    background-color: #fff;
    border-radius: 5px;
    -webkit-box-shadow: 4px 4px 4px 0 rgba(0,0,0,.1);
    box-shadow: 4px 4px 4px 0 rgba(0,0,0,.1);
    padding: 16px 20px;
}

@media (min-width: 1200px){

.SelectTagsModal_SelectTagsModal__title {
    padding: 20px;
}}

.SelectTagsModal_SelectTagsModal__title {
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    padding: 15px;
}
.ModalTitle_ModalTitle__root {
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
}

.SelectTagsModal_SelectTagsModal__title>h4 {
    font-size: 16px;
    text-align: center;
    font-weight: 700;
}

.SelectTagsModal_SelectTagsModal_ 
.SelectTagsModal_badge__eVbO1 {
    display: -ms-flexbox;
    display: flex;
    color: #fff;
    font-weight: 700;
    font-size: 12px;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    background: #36f;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    margin-left: 4px;
    padding-top: 1px;
}

@media (min-width: 1200px){
.SelectTagsModal_SelectTagsModal__title>button {
    top: 5px;
}}


.SelectTagsModal_SelectTagsModal__title>button {
    padding: 10px;
    font-size: 25px;
    position: absolute;
    right: 5px;
    top: 0;
}
.SvgIcon_SvgIcon__root__close {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: inherit;
    align-items: inherit;
    -ms-flex-pack: inherit;
    justify-content: inherit;
}
.SvgIcon_SvgIcon__root__svg__DKYBi {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentColor;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    font-size: inherit;
}
.ModalContent_ModalContent__root {
    -ms-flex: 1 1;
    flex: 1 1;
    overflow-y: auto;
    padding: 8px 24px;
}
.SelectTagsModal_SelectTagsModal__contents {
    padding-top: 7px;
}
.SelectTagsModal_SelectTagsModal__contents 
.SelectTagsModal_message {
    font-size: 16px;
    line-height: 1.4;
    font-weight: 600;
    margin-bottom: 30px;
}

.SelectTagsModal_SelectTagsModal_ .SelectTagsModal_interestsTags {
    margin-bottom: 24px;
}

.SelectTagsModal_SelectTagsModal_ .SelectTagsModal_interestsTags>ul {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}


.SelectTagsModal_SelectTagsModal_ .SelectTagsModal_interestsTags>ul>li ul.SelectTagsModal_subTags>li {
    float: left;
    margin: 0 10px 16px 0;
    height: 38px;
}

/* 지역 태그 버튼 색깔 */
.SelectTagsModal_SelectTagsModal_ .SelectTagsModal_interestsTags>ul>li ul.SelectTagsModal_subTags>li>button {
    display: inline-block;
    padding: 0 15px;
    font-size: 15px;
    height: 100%;
    font-weight: 500;
    color: #171717;
    border: 1px solid transparent;
    border-radius: 21px;
    background: #f2f4f7;
    line-height: 1em;
}

/* active 시의 변경된 색갈 */
.SelectTagsModal_SelectTagsModal_ 
.SelectTagsModal_interestsTags>ul>li ul.SelectTagsModal_subTags>li.SelectTagsModal_active>button {
    background: #fff;
    border-color: #36f;
    color: #36f;
    font-weight: 700;
}

/* 고른 태그 메인바디에 보이는거 */
.selectedTagButton{
    padding: 0 15px;
    font-size: 15px;
    height: 100%;
    border: 1px solid transparent;
    border-radius: 21px;
    line-height: 1em;
    background: #fff;
    border-color: #36f;
    color: #36f;
    font-weight: 700;
    margin: 0 10px;
    height: 38px;
    visibility: hidden;
}


@media (min-width: 1200px){
.SelectTagsModal_SelectTagsModal__actions {
    padding: 20px;
}}
.SelectTagsModal_SelectTagsModal__actions {
    padding: 15px;
    border-top: 1px solid #eee;
}

.ModalActions_ModalActions__root {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
}
.Button_Button__fullWidth {
    width: 100%;
}

/* 모달창 완료 버튼 */

.Button_Button__containedSizeLarge, .Button_Button__outlinedSizeLarge__n_OOf {
    padding: 0 28px;
    min-width: 84px;
    height: 48px;
    font-size: 16px;
    font-weight: 600;
}

.Button_Button__containedDisabled {
    cursor: default;
    background-color: #f4f4f5;
    color: #c4c4c4;
}

.Button_Button__contained__toUI5, .Button_Button__containedPrimary {
    color: #fff;
    background-color: #36f;
}

.Button_Button__contained {
    border-radius: 1000px;
    border: none;
}

.Button_Button__root {
    --button-color: #171717;
    position: relative;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    vertical-align: middle;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    line-height: normal;
    border: none;
    background-color: none;
    cursor: pointer;
    white-space: nowrap;
}


.Button_Button__interaction {
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: inherit;
    opacity: 0;
    background-color: var(--button-color);
    -webkit-transition: opacity .2s ease;
    transition: opacity .2s ease;
    will-change: opacity;
}

