@charset "UTF-8";
.container_profile{
    position: relative;
    max-width: 1060px
}
.container_profile:after {
    display: block;
    content: "";
    clear: both
}

.nav_title_area {
    position: relative;
    line-height: normal
}

.nav_title>p {
    font-size: 20px;
    font-weight: 700;
    color: #333;
    padding: 50px 0 20px
}
.nav_button {
    width: 100%;
    display: none;
    position: relative;
    border-top: 1px solid rgba(0, 0, 0, .1);
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    cursor: pointer
}
.container{
    margin: 0 auto;
    max-width: 1060px;
    position: relative
}
.container>header {
    margin-bottom: 20px;
    padding-left: 270px
}
.container>header a {
    display: block;
    padding: 18px 30px;
    position: relative;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    border-radius: 3px;
    background-color: #042e68
}
.container>header a p {
    position: relative;
    z-index: 1
}

.container>header a:before {
    content: "";
    top: 0;
    left: 0;
    right: 30px;
    bottom: 0;
    position: absolute;
    border-radius: 3px;
    background-image: url(https://static.wanted.co.kr/oneid-user/profile_default.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: right;
    z-index: 0
}
.container>aside {
    top: 0;
    left: 0;
    width: 250px;
    position: absolute
}
.container>section {
    padding-left: 270px
}
.container_aside{
    padding: 42px 20px 41px;
    border: 1px solid #e1e2e3;
    border-radius: 3px;
    background-color: #fff;
    margin-bottom: 0
}
.container_aside .aside-header {
    width: 100%;
    text-align: center
}

.container_aside .aside-avatar {
    line-height: 1.4
}

.container_aside .aside-avatar_image {
    width: 77px;
    height: 77px
}
.container_aside .aside-me {
    margin-top: 31px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.07;
    color: #999
}
.container_aside .aside-me_name {
    font-size: 18px;
    font-weight: 600;
    color: #333
}

.container_aside .aside-me_email,
.container_aside .aside-me_name {
    line-height: 1.3;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden
}

.container_aside .aside-me_email {
    margin-top: 20px
}
.container_aside .aside-me_tel {
    margin-top: 10px
}

.container_aside .aside-me_tel.is-blank {
    color: #ff415c
}

.container_aside .aside-edit{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    width: 160px;
    height: 40px;
    border-radius: 20px;
    border: 1px solid #e1e2e3;
    margin: 30px auto 0;
    font-size: 16px;
    line-height: .94;
    color: #333
}

.container_aside .aside-edit.is-level_1 {
    font-weight: 600;
    color: #258bf7
}

.container_aside .aside-edit:lang(en) {
    width: 210px
}
.container_aside .aside-link {
    -ms-flex: 1 1;
    flex: 1 1;
    position: relative
}

.container_aside .aside-link>svg {
    position: absolute;
    top: 50%;
    right: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    color: #999
}


.container_aside .matchUpStatus {
    margin-top: 42px
}
.avatar_root{
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: #fff;
    background-color: #dbdcdf;
    font-size: 1.538em;
    line-height: 1;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}
.avatar_sizeMedium{
    width: 40px;
    height: 40px;
    font-size: 26px
}
.matchUpStatus_ .matchUpStatus-item {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 23px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.06
}
.matchUpStatus_ .matchUpStatus-item:first-child {
    margin-top: 0
}

.matchUpStatus_ .matchUpStatus-item.disabled {
    color: #ccc;
    cursor: not-allowed
}
.matchUpStatus_ .matchUpStatus-label {
    word-break: break-word;
    line-height: 22px
}

.matchUpStatus_ .matchUpStatus-label.is-ellipsis {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis
}

.matchUpStatus_ .matchUpStatus-label.is-new:after {
    content: "";
    display: inline-block;
    width: 5px;
    height: 5px;
    background-color: #03c803;
    border-radius: 50%;
    margin-top: 1px;
    margin-left: 5px;
    vertical-align: top
}

.matchUpStatus_ .matchUpStatus-value {
    font-size: 18px;
    font-weight: 600
}
.container_aside .matchUpStatus {
    margin-top: 42px
}

.form_main{
    padding: 41px 0 30px;
    border: 1px solid #e1e2e3;
    border-radius: 3px;
    background-color: #fff
}
.form_main+.form_main {
    margin-top: 10px
}
.form_main .form-header {
    padding-right: 30px;
    padding-left: 30px
}
.form_main .form-header dt {
    color: #333;
    font-size: 20px;
    font-weight: 600;
    line-height: 1
}
.form_main .form-header dd {
    margin-top: 18px;
    color: #9a9a9a;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.8
}

.form_main .formBlock {
    margin-top: 43px
}
.form_main .formFooter {
    padding-right: 30px;
    padding-left: 30px;
    margin-top: 45px
}
.resume{
    position: relative;
    padding-bottom: 38px
}
.resume:hover .mainResume-fieldset>.mainResume-edit>span {
    opacity: 1
}

.resume .formBlock {
    margin-top: 36px
}

.resume .mainResume-about {
    position: relative;
    overflow: hidden;
    max-height: 66px;
    margin-top: 28px;
    font-size: 14px;
    line-height: 1.57;
    color: #999;
    white-space: pre-line
}

.resume .mainResume-about:after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 20%;
    height: 21px;
    background: -webkit-gradient(linear, left top, right top, from(hsla(0, 0%, 100%, 0)), color-stop(80%, #fff));
    background: linear-gradient(90deg, hsla(0, 0%, 100%, 0), #fff 80%)
}
.resume .mainResume-about.is-blank {
    color: #ff415c
}

.resume .mainResume-fieldset {
    position: relative;
    margin-top: 28px
}

.resume .mainResume-fieldset>.mainResume-edit>span {
    opacity: 0
}
.resume .mainResume-edit {
    cursor: pointer;
    position: absolute;
    top: -3px;
    right: 0;
    font-size: 22px
}
.block_ .formBlock-content {
    padding-right: 30px;
    padding-left: 30px
}
.info{
    position: relative;
    font-size: 16px
}
.info+.info {
    margin-top: 24px
}
.info .info-label {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
    line-height: 24px;
    color: #999
}

.info .info-body {
    margin-top: 9px
}
.info_content .resumeEntry-minor {
    color: #999
}

.info_content .resumeEntry-minor:before {
    content: " | ";
    color: #ccc
}

.info_content .is-empty {
    color: #ff415c
}
.enterInterestArea:hover .enterInterestArea-fieldset>.enterInterestArea-edit>span {
    opacity: 1;
}

.enterInterestArea .enterInterestArea-fieldset {
    position: relative
}

.enterInterestArea .enterInterestArea-fieldset>.enterInterestArea-edit>span {
    opacity: 0
}
.enterInterestArea .enterInterestArea-edit {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 22px
}

.enterInterestArea .formBlock+.formBlock {
    border-top: 5px solid #f8f8fa
}
.edit-area {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: inherit;
    align-items: inherit;
    -ms-flex-pack: inherit;
    justify-content: inherit;
}
.edit-area-svg {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentColor;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    font-size: inherit;
}



.form_main .formFooter {
    padding-right: 30px;
    padding-left: 30px;
    margin-top: 45px
}

.footer_ {
    text-align: right
}

.footer_ button {
    width: 190px;
    height: 50px;
    border-radius: 3px;
    background-color: #258bf7;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    margin-left: 20px;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    grid-gap: 5px;
    gap: 5px
}
.footer_ button:disabled {
    background-color: #ccc
}

.select-container{
    display: block;
    position: relative;
    padding: 15px 0
}
.select-container h6 {
    top: 50%;
    left: 0;
    width: 150px;
    position: absolute;
    color: #999;
    font-size: 16px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%)
}

.select-container.selected select {
    color: #333
}

.select_box {
    position: relative
}
.select_box:after {
    content: "";
    top: 25px;
    right: 20px;
    position: absolute;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    border-top: 6px solid #999;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent
}

.select_box select {
    width: calc(100% - 150px);
    padding: 14px 20px;
    margin-left: 150px;
    color: #999;
    font-size: 16px;
    font-weight: 400;
    border: 0;
    border-radius: 3px;
    background-color: #f8f8fa;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none
}

.select_box select::-ms-expand {
    display: none
}

.select_box select option {
    color: #333;
    background-color: #fff
}

.multiSelect{
    display: block;
    position: relative;
    padding: 10px 0
}
.multiSelect h6 {
    top: 50%;
    left: 0;
    width: 150px;
    position: absolute;
    color: #999;
    font-size: 16px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%)
}
.multiSelect .options {
    width: calc(100% - 150px);
    margin-left: 150px;
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
    color: #333;
    font-size: 16px;
    font-weight: 600;
    border: 0
}
.option-select {
    margin: 5px;
    padding: 8px 15px;
    color: #3b3d40;
    font-weight: 400;
    border: 1px solid #d1d1d1;
    border-radius: 0;
    background-color: #f8f8f8;
    opacity: .3;
    /* display:none; 삭제할 부분 */
}
.option-select:disabled {
    display: none;
    cursor: text;
    opacity: 1;
}
.option-select.active {
    opacity: 1;
    display: inline-block
}
.multiSelect .toggleEditable {
    margin: 5px;
    padding: 8px 15px;
    color: #86939e;
    font-weight: 400;
    border: 1px dashed #d1d1d1;
    background-color: transparent;
    cursor: pointer
}
.button_.selected button {
    color: #333;
}
.button_ {
    display: block;
    position: relative;
    padding: 15px 0
}
.button_ h6 {
    position: absolute;
    top: 50%;
    left: 0;
    width: 150px;
    padding-right: 10px;
    color: #999;
    font-size: 16px;
    line-height: inherit;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%)
}
.button_ button {
    width: calc(100% - 150px);
    padding: 12px 0;
    margin-left: 150px;
    position: relative;
    color: #ccc;
    font-size: 16px;
    text-align: left;
    font-weight: 400;
    border: 0;
    border-bottom: 1px solid #e1e2e3
}
.button_ button>svg {
    top: 50%;
    right: 0;
    position: absolute;
    color: #999;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%)
}
.resumeInfoSetting {
    position: relative
}
.resumeInfoSetting .careerPeriod {
    margin-top: 5px;
    margin-bottom: 25px;
    padding-left: 150px;
    position: relative
}

.resumeInfoSetting .careerPeriod .termDash {
    margin: 0 10px
}

.resumeInfoSetting .careerPeriod .monthDot {
    margin: 0 4px
}

.resumeInfoSetting .careerPeriod .checkBoxWrapper {
    margin-top: 14px
}

.resumeInfoSetting .careerPeriod .checkBoxWrapper>input[type=checkbox] {
    margin-right: 5px
}

.resumeInfoSetting .careerPeriod .checkBoxWrapper>span {
    font-size: 14px;
    font-weight: 400;
    color: #999
}

.resumeInfoSetting .careerPeriod .resumePeriodErrorMsg {
    font-size: 11px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: normal;
    color: #fe415c;
    position: relative;
    top: 4px;
    width: auto
}

.yearSelect {
    min-width: 38px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    font-size: 14px;
    font-weight: 400;
    background-color: transparent;
    padding: 0;
    color: #333
}

.yearSelect option {
    color: #333
}

.yearSelect::-ms-expand {
    display: none
}

.yearSelect.periodError {
    color: #fe415c
}
.yearSelect_notSelect {
    color: #ccc
}

.monthSelect {
    min-width: 26px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    font-size: 14px;
    font-weight: 400;
    background-color: transparent;
    padding: 0;
    color: #333
}

.monthSelect option {
    color: #333
}

.monthSelect::-ms-expand {
    display: none
}

.monthSelect.periodError {
    color: #fe415c
}
.monthSelect_notSelect {
    color: #ccc
}

.textarea {
    width: 100%;
    margin-top: 15px
}

.textarea h6 {
    font-size: 16px;
    font-weight: 400;
    color: #999;
    margin-bottom: 11px
}

.textarea p {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.57;
    color: #ccc;
    margin-bottom: 17px
}


.textarea textarea {
    width: 100%;
    height: 192px;
    border-radius: 3px;
    border: 1px solid #e1e2e3;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.63;
    vertical-align: top;
    color: #333
}

.modal_area{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    overflow: hidden;
    z-index: 1400;
}

.modal{
    z-index: 5;
    border-radius: 5px;
    background-color: #fff;
    position: absolute;
    overflow: hidden;
}
.modal_header{
    height: 54px;
    padding: 16px 20px;
    position: relative;
    border-bottom: 1px solid #ececce;
    color: #333;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    word-wrap: break-word;
}
.modal_header a, .modal_header button {
    position: absolute;
    top: 50%;
    right: 5px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 15px;
    line-height: 0;
}
.iconButton_root{
    position: relative;
    display: -ms-inline-flexbox;
    display: inline-flex;
    padding: 8px;
    border-radius: 50%;
    font-size: 24px;
    cursor: pointer;
}
.iconButton_nomal{
    border: none;
}
.iconButton_label{
    width: 100%;
    font-size: inherit;
    font-weight: inherit;
    display: inherit;
    -ms-flex-align: inherit;
    align-items: inherit;
    -ms-flex-pack: inherit;
    justify-content: inherit;
    color: inherit;
}
.svgIcon{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: inherit;
    align-items: inherit;
    -ms-flex-pack: inherit;
    justify-content: inherit;
}
.svgIcon_svg{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentColor;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    font-size: inherit;
}
.iconButton_interaction{
    overflow: hidden;
    position: absolute;
    z-index: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: inherit;
    opacity: 0;
    background-color: #171717;
    -webkit-transition: opacity .2s ease;
    transition: opacity .2s ease;
    will-change: opacity;
}
.iconButton_interaction:hover {
    opacity: .05;
}
.modal_body{
    padding: 20px;
}
.selector_selectWrapper,
.selector_wrapper{
    display: block;
    position: relative;
}
.selector_wrapper .selector_selectWrapper .salarySelector_select {
    position: relative;
    display: inline-block;
    width: 100%;
    margin-right: 10px;
    margin-bottom: 20px;
}
.selector_wrapper .selector_selectWrapper .salarySelector_select select {
    width: 100%;
    padding: 12px 20px;
    color: #333;
    font-size: 16px;
    font-weight: 600;
    border: 0;
    background-color: #f8f8fa;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.selector_wrapper .selector_selectWrapper .salarySelector_select select option {
    color: #333;
    background-color: #fff;
}
.selector_wrapper .selector_selectWrapper .salarySelector_select:after {
    content: "";
    top: 50%;
    right: 20px;
    position: absolute;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    border-top: 6px solid #999;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
}
.selector_selectWrapper .salarySelector_input{
    position: relative;
    display: inline-block;
    width: 100%;
}
.selector_selectWrapper .salarySelector_input input{
    width: 100%;
    height: 46px;
    border-radius: 3px;
    border: 1px solid #e1e2e3;
    background-color: #fff;
    font-size: 16px;
    color: #111;
    text-align: left;
    padding-right: 55px;
    padding-left: 20px;
}
.selector_selectWrapper .salarySelector_text{
    position: absolute;
    right: 20px;
    top: 12px;
    font-size: 16px;
    color: #111;
}
.selector_wrapper .selector_selectWrapper .salarySelector_submitBtn{
    width: 100%;
    height: 50px;
    border-radius: 3px;
    background-color: #268bf7;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    margin-top: 20px;
}
.style_wrapper{
    position: relative;
    padding-bottom: 22px;
    color: #767676;
}
.style_label{
    font-size: 14px;
    font-weight: 400;
}
.style_body{
    margin-top: 11px;
}
.style_guidance{
    color: #767676;
    bottom: 0;
    margin-top: 6px;
    font-size: 12px;
}
.modal_overlay{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 4;
    background-color: rgba(0,0,0,.5);
}
.inputSearch_box, .inputSearch_wrapper{
    position: relative;
}
.inputSearch_box::after{
    content: "";
    position: absolute;
    top: 50%;
    right: 60px;
    width: 1px;
    height: 28px;
    background-color: #ececec;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
.inputSearch_box>input[type=text].inputSearch{
    padding-right: 60px;
    text-overflow: ellipsis;
    width: 100%;
    height: 50px;
    padding-left: 15px;
    border-radius: 5px;
    border: 1px solid #e1e2e3;
    background-color: #fff;
    font-size: 15px;
    color: #333;
    -moz-appearance: none;
    appearance: none;
    resize: none;
}
.inputSearch_box>svg{
    position: absolute;
    top: 50%;
    right: 21px;
    transform: translateY(-50%);
    color: #333;
}
.selector_selectWrapper>ul{
    margin-bottom: 0;
    transform: translateX(0);
}
.skill_tag{
    position: relative;
    margin-top: -16px;
}
.skill_tag{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    list-style: none;
    padding-left: 0;
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
}
.tags{
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-align: center;
    align-items: center;
    max-width: 100%;
    height: 38px;
    padding-right: 17px;
    padding-left: 17px;
    border-radius: 19px;
    border: 1px solid transparent;
    margin-top: 10px;
    margin-left: 10px;
    background-color: #f3f5f8;
    font-size: 13px;
    color: #333;
}
.tags_title{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.tags_button{
    padding: 0;
    border: 0;
    background: 0;
    margin-left: 10px;
    color: #939393;
}
.input_box{
    position: relative;
    margin-left: 150px;
    width: calc(100% - 150px);
    text-align: left;
    border: 0;
    border-bottom: 1px solid #e1e1e1;
}
.input_box input{
    width: 100%;
    display: block;
    color: 333;
    font-size: 16px;
    font-weight: 400;
    border: 0;
    text-align: left;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding: 12px 0;
}