@charset "UTF-8";

body {
    margin: 0;
    font-size: 14px;
    color: #333;
    /* background-color: #f8f8f8; */
    line-height: 1.42857143;
    font-family: Pretendard Variable,Pretendard JP Variable,-apple-system,system-ui,BlinkMacSystemFont,Roboto,Segoe UI,Helvetica,Arial,Apple SD Gothic Neo,Nanum Gothic,Malgun Gothic,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,sans-serif;
}

body {
    display: block;
    margin: 8px;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: inherit;
}

/* header스타일 */

header {
    display: block;
}

.nav-bar {
    width: 100%;
    position: fixed;
    top: 0;
    background-color: #fff;
    -webkit-box-shadow: 0 1px 0 0 rgba(0, 0, 0, .1);
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, .1);
    z-index: 800;
}

button, div, h1, h2, h3, h4, h5, h6, input, p, select, span, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

.main-bar {
    position: relative;
    max-width: 1060px;
    height: 50px;
    margin: 0 auto;
}

.main-bar-nav {
    flex-direction: row;
    flex-wrap: wrap;
}

.nav-bar {
    width: 100%;
    position: fixed;
    top: 0;
    background-color: #fff;
    -webkit-box-shadow: 0 1px 0 0 rgba(0, 0, 0, .1);
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, .1);
    z-index: 800;
}

.main-bar-nav-top, .main-bar-hamberger img {
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
}

.main-bar-hamberger, .main-bar-nav-top {
    margin-top: -2px;
    margin-right: 15px;
}

.main-bar-nav, .main-bar-nav-top {
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-bar-nav-top-logo {
    display: -ms-flexbox;
    display: flex;
}

button {
    margin: 0;
    padding: 0;
    border: 0;
    background: none;
    cursor: pointer;
    font-family: inherit;
}


.main-bar-nav-top, .main-bar-hamberger img {
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
}

img {
    vertical-align: middle;
}

a, a:active, a:hover, a:visited {
    color: inherit;
}

.main-bar-nav-top-logo-a {
    display: block;
}

.osca{
    width: 84px;
    height: 21px;
}

.menu {
    height: inherit;
    text-align: center;
    margin: 0;
}

ol, ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu li {
    height: inherit;
    display: inline-block;
    position: relative;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.menu li a {
    position: relative;
    vertical-align: middle;
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
    padding: 15px;
    display: inline-block;
}

.menu li::after {
    height: 100%;
    content: "";
    display: inline-block;
    vertical-align: middle;
}

.aside{
    padding: 9px 0;
}

.aside {
    height: 100%;
    padding: 10px 0;
}

@media (min-width: 992px) and (max-width: 1199px){
    .aside >ul li .signUpBtn {
        margin-right: 0;
        padding: 0 3px;
    }
}

.aside >ul li .signUpBtn {
    margin-right: 6px;
    line-height: 1.4;
}

.aside>ul li>* {
    height: 100%;
    padding: 0 5px;
    font-size: 14px;
    color: #333;
    font-weight: 600;
    line-height: 1;
}

.aside>ul li .searchBtn {
    position: relative;
    margin-top: 5px;
}

.aside>ul .leftDivision {
    display: inline-flex;
}

.aside>ul li {
    position: relative;
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.aside>ul .leftDivision::before {
    display: block;
    content: "";
    width: 1px;
    height: 10px;
    background-color: #e1e2e3;
    margin: auto 10px;
}

.aside>ul li .dashboardBtn {
    font-size: 13px;
    color: #666;
    line-height: 30px;
    height: 30px;
    border: 1px solid #e1e2e3;
    border-radius: 15px;
    padding: 0 10px;
    margin-left: 15px;
    font-weight: 400;
}

.aside>ul li a {
    display: inline-block;
    vertical-align: bottom;
    line-height: 32px;
}

/* 프로필사진 */
.aside>ul li .profileButton{
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    vertical-align: top;
    padding: 0;
    margin-right: 11px;
}
.aside>ul li .profileButton .avatarBorder{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 1px solid #e1e2e3;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.aside>ul li .profileButton .avatarBorder.showMenuPopover {
    border: 1px solid #36f
}
.aside>ul li .profileButton .avatarBorder>div {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
}

.aside>ul .profile{
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    margin-right: 5px;
}
/* 프로필사진 */

a {
    font-family: inherit;
    text-decoration: inherit;
    cursor: pointer;
}

.padding {
    padding: 40px 0;
}

.padding {
    height: 50px;
}

/* main 스타일 */
.section{
    background-color: #fff;
    overflow-x: hidden;
}

section {
    display: block;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

@media (min-width: 1200px){
.topBanner {
    height: auto;
}
}

.topBanner{
    position: relative;
    overflow: hidden;
}


.topBanner-prevArrow {
    left: calc((100% - 1210px)/2);
}

.topBanner-nextArrow {
    right: calc((100% - 1200px)/2);
}

.topBanner-arrow{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: absolute;
    top: 120px;
    width: 30px;
    height: 60px;
    opacity: .5;
    border-radius: 15px;
    background-color: #fff;
    font-size: 16px;
    z-index: 10;
}

.topBanner .slick-slider{
    margin-bottom: 0;
}

.slick-slider{
    position: relative;
    display: block;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slider{
    position: relative;
    /* overflow: hidden; */
    display: block;
    margin: 0;
    padding: 0;
}

.svgIcon{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: inherit;
    align-items: inherit;
    -ms-flex-pack: inherit;
    justify-content: inherit;
}

.svgIcon-root{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentColor;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    font-size: inherit;
}

.slick-list{
    position: relative;
    /* overflow: hidden; */
    display: block;
    margin: 0;
    padding: 0;
}

@media (min-width: 992px) and (max-width: 1199px){
    .lineBanner {
        max-width: 1060px;
        width: 87.72%;
    }
}

.lineBanner{
    width: 1060px;
    margin: 60px auto;
}

.lineBanner_link{
    display: -ms-flexbox;
    display: flex;
    word-break: keep-all;
    text-align: center;
}

.box_gradient{
    background-image: -webkit-gradient(linear,left top,right top,color-stop(-12%,#01a9fe),color-stop(37%,#2f5fef),color-stop(72%,#046afe),color-stop(110%,#00d2dd));
    background-image: linear-gradient(90deg,#75A9EE -12%,#16517B 37%,#16517B 72%,#75A9EE 110%);
}

.lineBanner_box{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 15px 30px;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    border-radius: 38.5px;
}

@media (min-width: 1200px){
.lineBanner_box {
    padding: 21px 30px;
    font-size: 18px;
    line-height: normal;
}
}


.lineBanner_box>svg{
    margin-right: 15px;
}


@media (min-width: 992px) and (max-width: 1199px){
    .osca-advertisement {
        margin: 0 auto;
    }
}

@media (min-width: 992px) and (max-width: 1199px){
    .osca-advertisement {
        width: 90%;
    }
}

.osca-advertisement{
    position: relative;
    max-width: 1060px;
}

.osca-adv-container{
    border-radius: 10px;
    overflow: hidden;
    max-width: 1060px;
    width: 90%;
    background: #f4f8fb;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 60px auto 0;
}


article{
    display: block;
}


/* footer스타일 */
.footer{
    padding: 18px 0 65px;
    background-color: #fff;
    border-top: 1px solid #ececec;
}

.footer-rowClass{
    width: 90%;
    max-width: 1060px;
    margin: 0 auto 18px;
    display: -ms-flexbox;
    display: flex;
}

.nav-links{
    -ms-flex-positive: 1;
    flex-grow: 1;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

.nav-links-logo{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-right: 43px;
    width: 113px;
}

.nav-links-links{
    display: -ms-flexbox;
    display: flex;
}

.nav-links-links>a{
    font-size: 15px;
    color: #3a3a3a;
    font-weight: 500;
    line-height: 2.6;
    margin-right: 45px;
    white-space: nowrap;
}

.social-links{
    padding: 5% 0%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    line-height: 2.6;
}

.social-links a {
    position: relative;
    display: block;
    float: left;
    height: 20px;
}

.social-links a img{
    margin-left: 14px;
}

.footer-border{
    border-top: 1px solid #ececec;
    padding-top: 25px;
}

.footer-rowClass{
    width: 90%;
    max-width: 1060px;
    margin: 0 auto 18px;
    display: -ms-flexbox;
    display: flex;
}

.footer-footerText{
    float: left;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.6666666667em;
    color: #767676;
    width: calc(100% - 290px);
    margin-right: 40px;
}

#wrapper{
  width:1060px;
  margin:0 auto;
  height:300px;
  position:relative;
  /* overflow: hidden; */
  color:#fff;
  text-shadow:rgba(0,0,0,0.1) 2px 2px 0px;  
}

#slider-wrap{
  width:1060px;
  height:300px;
  position:relative;
  /* overflow:hidden; */
}

#slider-wrap ul#slider{
  width:1060px;
  height:300px;
  position:absolute;
  top:0;
  left:0;   
}

#slider-wrap ul#slider li{
  float:left;
  position:relative;
  width:1060px;
  height:300px; 
}

#slider-wrap ul#slider li img{
  display:block;
  border-radius: 1.5%;
  padding: 0px 12px;
  width:1060px;
  height: 300px;
}

/*btns*/
.btns{
  position:absolute;
  width:50px;
  height:60px;
  top:50%;
  margin-top:-25px;
  line-height:57px;
  text-align:center;
  cursor:pointer; 
  background:rgba(0,0,0,0.1);
  z-index:100;
  
  user-select: none;
  -webkit-user-select: none;  
  -moz-user-select: none; 
  -khtml-user-select: none; 
  -ms-user-select: none;
  
  -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  -ms-transition: all 0.1s ease;
  transition: all 0.1s ease;
}

.btns:hover{
  background:rgba(0,0,0,0.3); 
}

#next{right:-50px; border-radius:7px 0px 0px 7px;}
#previous{left:-50px; border-radius:0px 7px 7px 7px;}

#slider-wrap.active #next{right:0px;}
#slider-wrap.active #previous{left:0px;}


@media (min-width: 1200px){
.study-tag {
    margin: 0 auto;
}
}

@media (min-width: 1200px){
.study-tag {
    width: 87.72%;
}
}

.study-tag {
    position: relative;
    max-width: 1060px;
}

.study-list{
    margin-bottom: 90px;
}

.study-list .study-list-header {
    position: relative;
    margin-bottom: 40px;
}

.study-list .study-list-wrapper{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    height: 51px;
    padding-top: 36px;
}

@media (min-width: 768px) and (max-width: 991px){
.study-list .study-title {
    -ms-flex-direction: column;
    flex-direction: column;
    font-size: 18px;
    line-height: 1.28;
}
}

.study-list .study-title{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 9px;
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    color: #333;
    text-align: center;
}

.study-list .study-title>img{
    position: relative;
    top: -2px;
    width: 30px;
    height: 30px;
    margin: 0 8px 0 4px;
}

.study-title span{
    font-weight: 400;
}

.study-list .study-title-button, .study-list .study-title-button>a{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.study-list .study-title-button{
    width: 100%;
}

.study-list .study-title-button>a>span:first-child{
    padding-top: 2px;
    margin-right: 6px;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #767676;
}

.study-list .study-list-arrow{
    width: 6px;
    height: 10px;
    padding: 0;
    margin: 0;
    color: #767676;
}

.study-list .study-list-arrow>svg {
    position: absolute;
    width: inherit;
    height: inherit;
    color: inherit;
}

.study-list .study-slider-container{
    margin: -10px;
}

.study-slider {
    margin-bottom: 30px;
}

.study-slider{
    position: relative;
    display: block;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.studylist{
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0;
}

.study-slider .studytrack{
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.studytrack{
    position: relative;
    left: 0;
    top: 0;
    display: block;
}

.studytrack:before {
    content: '';
    display: table;
}

.study-initialized .study-slide{
    display: block;
}

.study-slide{
    float: left;
    height: 100%;
    min-height: 1px;
    display: none;
}

.card-container{
    padding: 10px;
}

.card-container>a{
    display: block;
}

.card-container header{
    padding-bottom: 52%;
    background-size: cover;
    background-position: 50%;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 0 0 1px rgba(0,0,0,.1);
    box-shadow: inset 0 0 0 1px rgba(0,0,0,.1);
}
.card-content{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: 17px;
}

.card-body{
    display: -ms-flexbox;
    display: flex;
    -ms-flex: 1 0;
    flex: 1 0;
}

.card-image{
    width: 42px;
    height: 42px;
    -ms-flex-positive: 0;
    flex-grow: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    /* -webkit-box-shadow: inset 0 0 0 1px rgba(0,0,0,.1);
    box-shadow: inset 0 0 0 1px rgba(0,0,0,.1); */
    background-size: contain;
    background-position: 50%;
    margin-right: 12px;
    background-repeat: no-repeat;
}

.card-info{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: justify;
    justify-content: space-between;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
}

.card-info-title{
    font-size: 18px;
    font-weight: 700;
    color: #333;
    word-break: break-all;
}

.card-info-category{
    font-size: 14px;
    font-weight: 500;
    color: #999;
}

@media (min-width: 1200px){
.cafe-tag {
    margin: 0 auto;
}
}

@media (min-width: 1200px){
.cafe-tag {
    width: 87.72%;
}
}

.cafe-tag {
    position: relative;
    max-width: 1060px;
}

.cafe-list{
    margin-bottom: 90px;
}

.cafe-list .cafe-list-header {
    position: relative;
    margin-bottom: 40px;
}

.cafe-list .cafe-list-wrapper{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    height: 51px;
    padding-top: 36px;
}

@media (min-width: 768px) and (max-width: 991px){
.cafe-list .cafe-title {
    -ms-flex-direction: column;
    flex-direction: column;
    font-size: 18px;
    line-height: 1.28;
}
}

.cafe-list .cafe-title{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 9px;
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    color: #333;
    text-align: center;
}

.cafe-list .cafe-title>img{
    position: relative;
    top: -2px;
    width: 30px;
    height: 30px;
    margin: 0 8px 0 4px;
}

.cafe-title span{
    font-weight: 400;
}

.cafe-list .cafe-title-button, .cafe-list .cafe-title-button>a{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.cafe-list .cafe-title-button{
    width: 100%;
}

.cafe-list .cafe-title-button>a>span:first-child{
    padding-top: 2px;
    margin-right: 6px;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #767676;
}

.cafe-list .cafe-list-arrow{
    width: 6px;
    height: 10px;
    padding: 0;
    margin: 0;
    color: #767676;
}

.cafe-list .cafe-list-arrow>svg {
    position: absolute;
    width: inherit;
    height: inherit;
    color: inherit;
}

.cafe-list .cafe-slider-container{
    margin: -10px;
}

.cafe-slider {
    margin-bottom: 30px;
}

.cafe-slider{
    position: relative;
    display: block;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.cafelist{
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0;
}

.cafe-slider .studytrack{
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.cafetrack{
    position: relative;
    left: 0;
    top: 0;
    display: block;
}

.cafetrack:before {
    content: '';
    display: table;
}

.cafe-initialized .cafe-slide{
    display: block;
}

.cafe-slide{
    float: left;
    height: 100%;
    min-height: 1px;
    display: none;
}
/* 프로필 메뉴 */

.MenuPopover{
    position: absolute;
    top: 100%;
    right: 200px;
    margin-top: 13px;
    padding: 0!important;
    display: none;
    transform: translate(50%,8px);
    }
    
    .MenuPopWrapper{
    overflow: hidden;
    min-width: 194px;
    border-radius: 10px;
    -webkit-box-shadow: 1px 2px 10px 0 rgba(0,0,0,.3);
    box-shadow: 1px 2px 10px 0 rgba(0,0,0,.3);
    border: 1px solid #cdcdcd;
    background-color: #fff;
}

.MenuPopover_list{
    padding-top: 14px;
}

.MenuPopover_list li {
    height: 34px!important;
        position: relative;
    display: inline-block;
    vertical-align: middle;
        width: 100%;
    height: auto;
}

.MenuPopover_list>ul li a {
    display: inline-block;
    vertical-align: bottom;
    line-height: 32px;
}

.MenuPopover_list li a, .MenuPopover_list li button {
    display: -ms-flexbox!important;
    display: flex!important;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-top: 7px;
    padding-bottom: 7px;
    font-weight: 500;
    color: #111;
    position: relative;
    font-size: 14px;
    height: 34px;
    font-weight: 500!important;
    line-height: normal!important;
    padding: 8px!important;
}

.MenuPopover_list li:last-child {
    border: 0;
    margin-top: 9px;
    background-color: #f7f7f7;
    overflow: hidden;
    height: 50px!important;
    border-radius: 0 0 10px 10px;
    border-top: 1px solid #ececec;
}
.MenuPopover_list li a.is-logout, .MenuPopover_list li button.is-logout {
    height: 50px;
    width: 100%;
    color: #333;
}
.MenuPopover_bubblePoint {
	position: absolute;
    right: 50%;
    bottom: 100%;
    height: 11px;
    overflow: hidden;
    margin-bottom: -1px;
    -webkit-transform: translateX(-47px);
    transform: translateX(-47px);
}
.MenuPopover_bubblePoint:after {
    content: "";
    margin-top: 4px;
    border: 1px solid #cdcdcd;
    background-color: #fff;
    height: 14px;
    width: 14px;
    display: block;
    border-top-right-radius: 30%;
    -webkit-transform: rotate(-55deg) skewX(-20deg);
    transform: rotate(-55deg) skewX(-20deg);
}


.wanted{
	display: none;
}