<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="study">

	<select id="getStudyDetail" resultType="studyVO">
		select study_title, study_contents, study_location, study_contact_email, study_contact_phonenumber from tbl_study
		where id = #{id} 
	</select>
	
</mapper>

