<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="studyApplicant">

	<insert id = "applyStudy" >
		insert into tbl_study_applicant (study_id, study_applicant_id)
		values(#{studyId}, #{studyApplicantId})
	</insert>
	
</mapper>