@charset "UTF-8";
@media(min-width:768px)and (max-width:991px) {
    .container_profile {
        width: 90%
    }
}

@media(min-width:992px)and (max-width:1199px) {
    .container_profile {
        width: 90%
    }
}

@media(min-width:1200px) {
    .container_profile {
        width: 87.72%
    }
}

@media(min-width:768px)and (max-width:991px) {
    .container_profile {
        padding-bottom: 100px;
        margin: 0 auto
    }
}

@media(min-width:992px)and (max-width:1199px) {
    .container_profile {
        padding-bottom: 100px;
        margin: 0 auto
    }
}

@media(min-width:1200px) {
    .container_profile {
        padding-bottom: 100px;
        margin: 0 auto
    }
}
@media(max-width:767px) {
    .nav_title>p {
        display: none
    }
}
@media(max-width:767px) {
    .nav_button {
        display: block;
        padding: 20px;
        color: #333;
        font-size: 18px;
        text-align: left;
        font-weight: 600;
        background-color: #fff;
        border-bottom: 1px solid #e1e2e3
    }

    .Nav_Nav_button_global__fulKo {
        font-size: 14px
    }
}
@media(max-width:767px) {
    .container>header {
        margin-bottom: 0;
        padding-left: 0
    }
}
@media(max-width:767px) {
    .container>header a {
        border-radius: 0
    }
}
@media(max-width:767px) {
    .container>header a:before {
        right: 0
    }
}
@media(max-width:767px) {
    .container>aside {
        position: relative;
        width: 100%
    }
}
@media(max-width:767px) {
    .container>section {
        width: 100%;
        padding-left: 0
    }
}

@media(max-width:767px) {
    .container_aside {
        padding-top: 20px;
        padding-bottom: 30px;
        border: 0;
        border-bottom: 1px solid #e1e2e3;
        border-radius: 0
    }
}
@media(max-width:767px) {
    .container_aside .aside-header {
        display: -ms-flexbox;
        display: flex
    }
}
@media(min-width:768px) {
    .container_aside .aside-avatar_image {
        margin: 0 auto
    }
}
@media(max-width:767px) {
    .container_aside .aside-me {
        margin-top: 0;
        margin-left: 20px;
        text-align: left
    }
}
@media(max-width:767px) {
    .container_aside .aside-me_email {
        margin-top: 15px
    }
}
@media(max-width:767px) {
    .container_aside .aside-edit {
        display: none
    }
}
@media(max-width:767px) {
    .container_aside .matchUpStatus {
        margin-top: 34px
    }
}

@media(max-width:767px) {
    .matchUpStatus_ {
        display: -ms-flexbox;
        display: flex;
        -webkit-transform: translateX(-20px);
        transform: translateX(-20px);
        width: calc(100% + 40px)
    }
}
@media(max-width:767px) {
    .matchUpStatus_ .matchUpStatus-item {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-align: start;
        align-items: flex-start;
        min-width: 33.3%;
        padding-right: 20px;
        padding-left: 20px;
        margin-top: 0;
        border-left: 1px solid #e1e2e3;
        text-align: left
    }

    .matchUpStatus_ .matchUpStatus-item:first-child {
        border-left: 0
    }
}
@media(max-width:767px) {
    .matchUpStatus_ .matchUpStatus-value {
        margin-top: 6px
    }
}
@media(max-width:767px) {
    .container_aside .matchUpStatus{
        margin-top: 34px
    }
}

@media(max-width:767px) {
    .form_main.fixedFooter {
        padding-bottom: 100px
    }

    .form_main {
        border: none;
        border-bottom: 1px solid #e1e2e3;
        border-radius: 0
    }
}
@media(max-width:767px) {
    .form_main .form-header {
        padding-right: 20px;
        padding-left: 20px
    }
}
@media(max-width:767px) {
    .form_main .formBlock {
        margin-top: 25px
    }
}
@media(max-width:767px) {
    .form_main .formFooter {
        padding-right: 20px;
        padding-left: 20px
    }
}

@supports(-webkit-line-clamp:3) and (-webkit-box-orient:vertical) {
    .resume .mainResume-about {
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        max-height: inherit
    }

    .resume .mainResume-about:after {
        display: none
    }
}

@media(max-width:767px) {
    .resume .mainResume-fieldset>a>span {
        opacity: 1
    }
}
@media(max-width:767px) {
    .block_ .formBlock-content {
        padding-right: 20px;
        padding-left: 20px
    }
}
@media(max-width:767px) {
    .enterInterestArea .enterInterestArea-fieldset>a>span {
        opacity: 1
    }
}
@media(max-width:767px) {
    .form_main .formFooter {
        padding-right: 20px;
        padding-left: 20px
    }
}

@media(max-width:767px) {
    .footer_.isChild button {
        width: 100%
    }

    .footer_ {
        padding: 20px
    }
}
@media(max-width:767px) {
    .footer_ button {
        width: calc(50% - 5px);
        margin: 0 0 0 10px
    }

    .footer_ button:first-of-type {
        margin-left: 0
    }
}

@media(max-width: 767px) {
    .padding {
        height:110px
    }
}

@media(min-width: 768px)and (max-width:991px) {
    .padding {
        height:110px
    }
}
@media(max-width:767px) {
    .select-container h6 {
        top: auto;
        left: auto;
        width: auto;
        margin-bottom: 8px;
        position: relative;
        -webkit-transform: none;
        transform: none
    }
}
@media(max-width:767px) {
    .select_box select {
        width: 100%;
        margin: 0
    }
}
@media(max-width:767px) {
    .multiSelect {
        padding-top: 7px;
        padding-bottom: 7px
    }
}
@media(max-width:767px) {
    .multiSelect h6 {
        top: auto;
        left: auto;
        width: auto;
        position: relative;
        -webkit-transform: none;
        transform: none
    }
}
@media(max-width:767px) {
    .multiSelect .options {
        width: 100%;
        margin: 3px 0 5px
    }
}
@media(max-width:767px) {
    .button_ h6 {
        top: auto;
        left: auto;
        width: auto;
        position: relative;
        -webkit-transform: none;
        transform: none;
        margin-bottom: 10px
    }
}
@media(max-width:767px) {
    .button_ button {
        width: 100%;
        margin: 0
    }
}

@media(max-width:767px) {
    .resumeInfoSetting .careerPeriod {
        padding-left: 0;
        margin-bottom: 25px
    }
}
@media(max-width:767px) {
    .resumeInfoSetting .careerPeriod .checkBoxWrapper {
        margin-top: 15px
    }
}

@media(max-width:767px) {
    .resumeInfoSetting .careerPeriod .resumePeriodErrorMsg {
        position: absolute;
        top: 68px;
        left: 0
    }

    .resumeBasicInfo {
        margin-top: 40px
    }
}
@media(max-width:767px) {
    .textarea p {
        margin-bottom: 19px
    }
}
@media (min-width: 1200px){
    .modal {
        top: 50%;
        left: 50%;
        width: 100%;
        max-width: 500px;
        max-height: calc(100vh - 150px);
        -webkit-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
        z-index: 5;
        overflow-y: auto;
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
}